
*.user

*.16

*.png

samples/build-tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Debug/tone_mapping
include/features_matching/binary_feature_matcher.hpp

include/computer_vision/computer_vision_functions copy.hpp

samples/opengl_tone_mapping/filter_scatter_tmo.hpp

samples/opengl_tone_mapping/filter_reinhard_sp.hpp

samples/hdr_test/main.cpp

samples/build-simple_triangulation-Desktop_Qt_5_3_0_clang_64bit-Release/main.o-3a0229b6

samples/build-opengl_tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Release/main.o

samples/build-opengl_tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Release/main.o

samples/build-opengl_tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Release/main.o

samples/build-opengl_tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Release/main.o

samples/build-opengl_tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Release/opengl_tone_mapping

samples/build-simple_triangulation-Desktop_Qt_5_3_0_clang_64bit-Release/main.o-3a0229b6

samples/data/input/triangulation/venice_campo_s_polo_left.jpg

samples/hdr_test/hdr_generation.pro

samples/opengl_tone_mapping/filter_slicer_tmo.hpp

samples/opengl_tone_mapping/main.cpp

samples/opengl_tone_mapping/main.cpp

samples/simple_deform_grid/main.cpp

samples/opengl_tone_mapping/reinhard_tmo_g.hpp

samples/simple_triangulation/simple_triangulation.pro.user.512bc6a

samples/simple_deform_grid/main.cpp

*.512bc6a

*.cpp

*.jpg

*.cpp

*.o

samples/build-opengl_tone_mapping-Desktop_Qt_5_3_0_clang_64bit-Release/opengl_tone_mapping

samples/build-simple_triangulation-Desktop_Qt_5_3_0_clang_64bit-Release/main.o-3a0229b6

samples/data/input/triangulation/venice_campo_s_polo_left.jpg

samples/opengl_tone_mapping/main.cpp

samples/simple_deform_grid/main.cpp
